@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Goldman:wght@700&family=The+Girl+Next+Door&display=swap');

*{
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

    min-height: 100vh;
    background-color: #3a9ecd;

    font-family: 'Goldman', cursive;
}
.profile{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--gradient-11, linear-gradient(134deg, #FF9897 0%, #F650A0 100%));
    padding: 2rem;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    text-align: center;
    font-size: x-large;
    border: 1px solid black;
    color:rgba(1, 53, 113, 0.909) ;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(134.33deg, #FF9482 1.14%, #7D77FF 100%);
    /* background-color: #3AA6B9; */
    padding: 1.5rem;
    border-width: 10px;
    border-color: black;
    border-radius: 12px;
    min-height: 70vh;
    min-width: 80vw;

    box-shadow: 10px;
    
}

.refer-text{
    display: flex;
    flex-direction: row;
    
    width: 92.5%;
    margin-bottom: 2rem;
    margin-left: calc(1.5rem + 2px);
    margin-right: calc(1.5rem + 2px);
    text-align: left;
}
.text-quote{
    /* opacity: 0; */
    background-color: transparent;
    border: 2px solid rgb(58, 58, 58);
    border-radius: 12px;

    text-align: left;
    font-family: 'Goldman', cursive;
    font-size: 1rem;

    width: 100%;
    margin: auto;
    resize: none;
    padding: 1rem 1.5rem;
}

.timer{
    padding: 2rem;
    font-size: xx-large;
}

.grid-align{
    display: grid;
    grid-template-columns: max-content auto;
    grid-gap: 3rem;
}

.green-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 0.5rem;
    border: 0.5px solid gray;
    border-radius: 12px;
    background-color: rgb(3, 176, 3);
    color: aliceblue;
    font-family: 'Goldman', cursive;
}

.red-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 2rem;
    padding: 0.5rem;
    border: 0.5px solid gray;
    border-radius: 12px;
    background-color: rgb(227, 77, 82);
    color: aliceblue;
    font-family: 'Goldman', cursive;
}

.field{
    background-color: transparent;
    border: 2px solid rgb(58, 58, 58);
    border-radius: 8px;
    width: 100%;
    font-weight: 600;
    margin: auto;
    padding: 0.25rem 0.5rem;
}

.profile-label{
    text-decoration:solid;
}

.profile-content{
    border: 1px solid black;
    border-radius: 8px;
    padding: 0.25rem 0.5rem;
}

.span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 5rem;
}